.footer{
    background-color: #3d3d3d;
    color: aliceblue;
    font-family: IDE;
    margin-top: 200px;
    padding-top: 5vw;
    padding-bottom: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    gap: 1vw;
    margin-bottom: 3vh;
}

.icons_images{
    transition: transform 0.7s;
    background-color: #3d3d3d;
    border: #3d3d3d;
    height: 4vh;
}

.icons_images:hover{
    transform: scale(1.08);
}

.icon_buttons{
    cursor:pointer;
    border: none;
    padding: 0;
    background-color: transparent;
}

.footer_text{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.footer2{
    width: 100%;
    background-color: #3d3d3d;
    color: aliceblue;
    font-family: IDE;
    padding-bottom: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.logo_ide{
    padding-right: 3vw;
}