.header{
    position: fixed;
    font-size: 30px;
    font-weight: 400;
    gap: 10px;
    z-index: 999;
    height: 100px;
    width: 100vw;
    display: flex;
    background-color: rgba(26, 25, 25, 0.652);
    color: white;
    justify-content:space-evenly;
    align-items: center;
    font-family: IDE2;
}