.tituloimagem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 62, 136);
    padding: 70px;
    height: 100vh;
    width: auto;
    gap: 16px;
}
.neko1{
    max-width: 50vw;
    height: auto;
}
.titulo{
    font-size: 150px;
    color: white;
    text-shadow: 6px 8px 0px black;
    font-family: IDE2;
    margin-top: 70px;
}
