

.container {
    padding: 3% 10vw;
    color: #603B88;
    display: grid;
    width: 80vw;
    grid-template-rows: 20vh 50vh 5vh;

}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 3fr 1fr;
    border-radius: 30px;
}

.nekoContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardscontainer{
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px;  

    margin: 0 auto;
}
.card {
    border-radius: 20px;
    width: 5vw; 
    height: 5vw; 
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.card img{
    max-width:2.5vw; 
    height: auto; 
}
.nekoContainer img{
    width: 50%;   
}
.nekoContainer h1{
   padding: 5% 0px;  
} 

.mainText{

    width: 100%;
}
.mainText h1 {
    width: 100%;
    font-size: 70px;
    text-align: center;
}

.textContainer {
    padding: 4vh 3vw;
}
.textContainer h1 {
    font-size: 20px;
    padding: 2vh 3vw;
}

.bottomContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2% 0%;
}

.buttonsContainer {

    display: flex;

}
.buttonsContainer button {

    border: none;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    padding: 0px;
    font-size: 9px;    
}

 

.buttonsContainer img {
    width: 60%;
}

.IDEButtonContainer img{
    padding: 15px;
    width: 12%;
}


.IDEButtonContainer a{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #603B88;
    background-color: rgba(240, 248, 255, 0);
 
    padding: 10px; 
    box-sizing: border-box; 
    width: 100%;
    height: 12vh;
}
.buttonsContainer button, .card {
    transition: transform 0.3s ease; 
  }
  
  .buttonsContainer button:hover, .card:hover {
    transform: scale(1.2); 
  }
 
  .nekoStats img{
    width: 20vw;
    height: auto;
  }


  .nekoStats{
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
  }
  .AtributesContainer{
    min-width: 12vw;
  }
  .atributos img{
    max-width: 2vw;
    padding: 2px;
    transition: transform 0.5s; 
  }

 
  
  .atributos img:hover {
    transform: translateY(-20px); }